<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="helpstudent.My.MySettings.ConectionSqlite" connectionString="data source=&quot;C:\Users\dbrio\Documents\Visual Studio 2010\Projects\helpstudent\helpstudent\StudentApp.s3db&quot;"
            providerName="System.Data.SQLite" />
        <add name="helpstudent.My.MySettings.ConectionMysql" connectionString="server=db4free.net;User Id=studentapp;password=HelpUphCh01;Persist Security Info=True;database=studentapp"
            providerName="MySql.Data.MySqlClient" />
        <add name="helpstudent.My.MySettings.studentappConnectionString"
            connectionString="server=db4free.net;User Id=studentapp;password=HelpUphCh01;database=studentapp;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
</configuration>